<article class="article" [class.isFavorite]="isFavorite(article.title)">
  <div class="article__aside">
    <div class="article__cover">
      <img src="{{ article.urlToImage }}" alt="Cover" width="200">
    </div>
    <button *ngIf="!isFavorite(article.title)" (click)="addToFavorites(article.title);">Add to Favorites</button>
    <div *ngIf="isFavorite(article.title)">
      <p>In Favorites</p>
      <button (click)="removeFromFavorites(article.title)">Remove</button>
    </div>
  </div>
  <div class="article__content">
    <h3 class="article__title">{{ article.title }}</h3>
    <p class="article__desc">{{ article.description }}</p>
  </div>
</article>